@import url(http://fonts.googleapis.com/css?family=Open\+Sans);

blanco = #FFFFFF
grisOscuro = #333333
negro = #000000

*
	border 0px
	margin 0px
	padding 0px

body 
	background blanco
	background-image url('../img/bg.jpg')
	height 100%
	font-family 'Open Sans', sans-serif
	font-size 16px
	font-weight 100
	margin 0
	padding 0
	width 100%

footer
	background rgba(0,0,0,.7)
	color blanco
	height auto
	width 100%
	a
		color blanco
		text-decoration none
	a:hover
		color red
	h6
		margin-top .9em
	.colDerecha,.colIzquierda
		display inline-block
		height auto
		vertical-align middle
		width 40%
	.colDerecha
		padding 1em
		width 80%
	.colIzquierda
		height auto
		width auto

h2
	font-family 'Open Sans', sans-serif
	padding 1em 0 1em 1em
	text-transform uppercase

header
	background rgba(0,0,0,.7)
	height auto
	margin-top 20px
	width 100%
	.datos,.logo
		display inline-block
		height auto
		vertical-align middle
		width 40%
	.datos
		color blanco
		float right
		line-height 25px
		margin-top 2.5em
		width 25%
		a
			color blanco
			text-decoration none
		a:hover
			color red
	.logo
		float left
		margin 0 0 0 100px
		width auto
nav
	background negro
	text-align center
	width 100%
	ul li
		display inline-block
		font-size 1em
		font-weight 100
		padding 1em 1.5em 1em 1.5em
		a
			color red
			text-decoration none
			-webkit-transition: all 0.9s
			-moz-transition all 0.9s
			-ms-transition all 0.9s
			-o-transition all 0.9s
			transition all 0.9s
			padding .3em .7em .3em .7em
		a:hover
			background blanco
			color negro
			-webkit-transition: all 0.9s
			-moz-transition all 0.9s
			-ms-transition all 0.9s
			-o-transition all 0.9s
			transition all 0.9s
			-webkit-border-radius 5px
			-moz-border-radius 5px
			border-radius 5px
			padding .3em .7em .3em .7em

p
	color grisOscuro
	height auto
	line-height 30px
	padding 0 1.5em 2em 1.7em

.banner-fijo
	height auto
	width 100%
	img 
		width 100%
.btnCompra
	background red
	font-size 1.5em
	height auto
	-webkit-border-radius 5px
	-moz-border-radius 5px
	-o-border-radius 5px
	-ms-border-radius 5px
	border-radius 5px
	padding 1em
	text-align center
	width 78%
.btnCompra:hover
	color red
	background negro
.clear
	clear both

.cont-marcas
	background blanco
	height auto
	margin .5em 0 .5em 0
	width 100%
	img
		padding .5em .5em .5em 0
		vertical-align top

.cont-productos
	background blanco
	height auto
	margin .5em 0 .5em 0
	padding 0 0 2em 0
	width 100%
	a
		color blanco
		text-decoration none

.cont-servicios
	background blanco
	height auto
	margin .5em 0 .5em 0
	width 100%
	img
		padding .5em .5em .5em 0
		vertical-align top

.contenidosInternos
	background blanco
	margin .5em 0 .5em 0
	padding 1em 1.5em  1em 1.5em
	width auto
	p
		font-size .9em
		line-height 1.7em
		margin 1em 0 1em 0

.contenidoQuienes-somos
	background blanco
	height auto
	margin .5em 0 .5em 0
	width 100%
.conts,.face
	display inline-block
	height auto
	margin 0 1em 0 2em
	vertical-align top
	width 45%
	a
		color grisOscuro
	a:hover
		text-decoration underline	

.galeria
	background #F4F4F4
	border 1px solid #BBBBBC
	-webkit-border-radius 5px
	-moz-border-radius 5px
	-o-border-radius 5px
	-ms-border-radius 5px
	border-radius 5px
	height auto
	margin 0 auto
	width 95%
	.gal1,.gal2
		display inline-block
		height auto
		margin 1em
		vertical-align top
		width 30%
		img
			border 1px solid #BBBBBC
	.gal1
		padding 1em 2em 1em 1em
	.gal2
		padding 1em 2em 1em 1em
		width 50%
		h3
			font-size 1.2em
			font-weight 100
		img
			border 0px		

.italica
	color red
	font-size .8em
	font-style: italic
.italica:hover
	color blanco
.mapa-canning
	height 100%
	width 100%
	iframe
		height 35%
		width 100% !important

.multi-img-footer
	height auto
	width 100%
	img
		width 100%

.nuestrasMarcas
	img
		border solid 2px grisOscuro
		margin 0 1em 1em 1.6em

.revestimientos,.pinturas,.accesorios,.barniz,.enduidos,.esmaltes,.impermeabilizantes,.impregnante
	background negro
	-webkit-border-radius 5px
	-moz-border-radius 5px
	-o-border-radius 5px
	-ms-border-radius 5px
	border-radius 5px
	color blanco
	height auto
	margin 0 0 1em 1.5em
	-webkit-transition: all 0.9s
	-moz-transition all 0.9s
	-ms-transition all 0.9s
	-o-transition all 0.9s
	transition all 0.9s
	width 95%
	h2
		font-size 1em
.revestimientos:hover,.pinturas:hover,.accesorios:hover,.barniz:hover,.enduidos:hover,.esmaltes:hover,.impermeabilizantes:hover,.impregnante:hover
	background red
	-webkit-transition: all 0.9s
	-moz-transition all 0.9s
	-ms-transition all 0.9s
	-o-transition all 0.9s
	transition all 0.9s
	width 55%
	h2
		font-size 1em
.tarjetas
	border 0px

.vidriera
	height auto
	width 100%
	img
		width 100%
